<div class="container col-md-12 mt-3">
    <h1>{{title}}</h1>

    <form class="col-md-5 ml-0 pl-0" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #nombre="ngModel" [(ngModel)]="user.nombre">
        </div>

        <br>

        <div class="form-group">
            <input type="submit" value="Buscar" class="btn btn-success">
          </div>
    </form>
</div>